.GoodsSlider {
  margin-bottom: 80px;
  position: relative;
  > :first-child {
    padding-bottom: 30px;
  }
  &__categories {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  &__category {
    padding: 6px 16px;
    color: rgba(43, 123, 198, 1);
    background-color: #fff;
    border-radius: 4px;
    text-wrap: nowrap;
  }
  &__category.selected {
    background-color: rgba(59, 185, 184, 1);
    color: #fff;
  }
  &__items {
    &__wrapper {
      scroll-snap-type: x mandatory;
      display: grid;
      grid-template-columns: repeat(auto-fill, 308px);
      grid-auto-flow: column;
      overflow: auto;
      scrollbar-width: none;
    }

    &__buttons {
    }
    &__buttonLeft {
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      padding: 20px 24px;
      background: rgba(213, 224, 230, 0.5);
      border-radius: 5px;
    }
    &__buttonRight {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%) rotate(180deg);
      padding: 20px 24px;
      background: rgba(213, 224, 230, 0.5);
      border-radius: 5px;
    }
  }
}

.GoodsItem {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @media (max-width: 425px) {
    scroll-snap-align: center;
  }

  width: 308px;
  height: 540px;
  padding: 20px 20px 22px 20px;

  > :first-child {
    margin-bottom: 20px;
    height: 288px;
    object-fit: cover;
  }
  &__signs {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__hitSign {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.15em;
    padding: 3px 10px;
    background-color: yellow;
    display: inline-block;
  }
  &__discountSign {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.15em;
    padding: 3px 10px;
    background-color: rgba(234, 22, 73, 1);
    display: inline-block;
    color: #fff;
  }

  &__image {
    width: 100%;
  }

  &__content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;

    > :nth-child(1) {
      margin-bottom: 16px;
    }
    > :nth-child(2) {
      flex: 1 1 auto;
    }
    > :nth-child(3) {
      margin-bottom: 10px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__button {
    color: rgba(43, 123, 198, 1);
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid rgba(43, 123, 198, 1);
    border-radius: 4px;
    text-transform: uppercase;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__discount {
    color: rgba(234, 22, 73, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
  }
  &__nullItem {
    width: 100%;
    height: 24px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > :first-child {
      flex: 1 0 50%;
    }
    > :nth-child(2) {
      flex: 0 0 auto;
    }
  }
  &__hoverBanner {
    border-radius: 4px;
    background: var(--blue-3, rgba(43, 123, 198, 1));
    position: absolute;
    top: 107px;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px 33px;
    color: #fff;
    text-wrap: nowrap;
    text-transform: uppercase;
    opacity: 0;

    transition: all ease-in-out 0.3s;
  }
  &__like {
    position: absolute;
    top: 15px;
    right: 20px;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
  }
}

.GoodsItem.active {
  .GoodsItem {
    &__title {
      color: rgba(16, 97, 171, 1);
    }
    &__hoverBanner {
      opacity: 0.6;
    }
    &__like {
      opacity: 1;
    }
  }
}
