.Title {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  border-bottom: 1px solid rgba(16, 97, 171, 1);
  margin-bottom: 36px;
  display: inline-block;
}
