.Call {
  display: flex;
  align-items: center;

  --fs-call-number: 21px;
  --lh-call-number: 100%;

  --ff: "Montserrat", sans-serif;
  --ls: 0;

  --scale: 1;

  @media (max-width: 1200px) {
    --scale: 0.8;
  }
  @media (max-width: 800px) {
    --scale: 0.7;
  }

  > *:not(:last-child) {
    margin-right: 12px;
  }

  &__number {
    --fs-call-number: 21px;
    --lh-call-number: 100%;

    --ff: "Montserrat", sans-serif;
    --ls: 0;

    --scale: 1;

    color: rgba(0, 0, 0, 1);
    font-family: var(--ff);
    font-size: calc(var(--fs-call-number) * var(--scale));
    font-weight: 500;
    line-height: var(--lh-call-number);
    letter-spacing: var(--ls);
    text-align: left;

    @media (max-width: 1200px) {
      --scale: 0.8;
    }
    @media (max-width: 800px) {
      --scale: 0.7;
    }
  }

  > *:not(:last-child) {
    margin-right: 12px;
  }

  &__number {
    --fs-call-number: 21px;
    --lh-call-number: 100%;
    --ff: "Montserrat", sans-serif;
    --ls: 0;
    --scale: 1;

    color: rgba(0, 0, 0, 1);
    font-family: var(--ff);
    font-size: calc(var(--fs-call-number) * var(--scale));
    font-weight: 500;
    line-height: var(--lh-call-number);
    letter-spacing: var(--ls);
    text-align: left;

    @media (max-width: 1200px) {
      --scale: 0.8;
    }
    @media (max-width: 800px) {
      --scale: 0.7;
    }
  }

  &__link {
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__icon {
    @media (max-width: 800px) {
      display: none;
    }
  }
}

.Container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}

.Dropdown {
  &__ul {
    background: #ffffff;
    border-radius: 8px;
    margin: 0;
    padding: 6px 16px;
    list-style: none;
    overflow: hidden;
    color: #202124;
    font-family: inherit;
    font-size: 14px;

    > :not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }
  }

  &__li {
    padding: 12px 0;

    a {
      display: block;
      color: #111;
      text-decoration: none;
      line-height: 1.2;
      transition:
        color 0.15s ease,
        background-color 0.12s ease;

      &:hover {
        color: #003a8c;
        background-color: rgba(16, 97, 171, 0.03);
      }
    }
  }
  &__list {
    z-index: 1;
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  &__list__right {
    right: 0;
  }
  &__list__active {
    opacity: 1;
  }
}

.Logo_img {
  --logo-width: 296px;
  --logo-height: 33.21px;
  width: var(--logo-width);
  height: var(--logo-height);
  @media (max-width: 700px) {
    --logo-width: calc(296px * 0.8);
    --logo-height: calc(33.21px * 0.8);
  }
  @media (max-width: 450px) {
    --logo-width: calc(296px * 0.6);
    --logo-height: calc(33.21px * 0.6);
  }
}

.Rate {
  max-height: 13px;
  gap: 8px;
  display: flex;
  &__stars {
    display: flex;
    gap: 5px;
  }
  &__comments {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
