.Collections {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 240px);
  gap: 20px;
  grid-template-areas:
    "main main main second second third"
    "main main main fourth fifth fifth";

  @media (max-width: 1350px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 240px);
    grid-template-areas:
      "main main main third"
      "main main main fourth"
      "second second fifth fifth";
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 240px);
    grid-template-areas:
      "main main main"
      "main main main"
      "second second third"
      "fourth fifth fifth";
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 240px);
    grid-template-areas:
      "main main"
      "main main"
      "second second"
      "fifth fifth"
      "third fourth";
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 240px);
    grid-template-areas:
      "main"
      "second"
      "third"
      "fourth"
      "fifth";
  }

  &__main {
    grid-area: main;
  }
  &__second {
    grid-area: second;
  }
  &__third {
    grid-area: third;
  }
  &__fourth {
    grid-area: fourth;
  }
  &__fifth {
    grid-area: fifth;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__item {
    position: relative;
  }
  &__title {
    background: rgba(59, 185, 184, 0.8);
    padding: 14px 20px;
    color: var(--white, rgba(255, 255, 255, 1));
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 26px;
      padding: 8px 14px;
    }
  }
  &__autor {
    color: var(--white, rgba(255, 255, 255, 1));
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 21px;
    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 20px;
      margin-left: 14px;
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    margin-bottom: 11px;

    > :first-child {
      margin-bottom: 6px;
    }
  }
}
