.Articles {
  position: relative;

  &__buttons {
    display: block;
    pointer-events: none;
  }

  &__buttonLeft,
  &__buttonRight {
    position: absolute;
    top: 50%;
    padding: 20px 24px;
    background: rgba(213, 224, 230, 0.5);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    z-index: 1;
  }

  &__buttonLeft {
    left: -20px;
    transform: translateY(-50%);
  }

  &__buttonRight {
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
  }

  &__buttonImg {
    display: block;
  }
}

.Articles {
  &__slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .ArticleCard {
      scroll-snap-align: center;

      &:first-child {
        scroll-snap-align: start;
      }
    }
  }
}

.ArticleCard {
  width: 370px;
  height: 380px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 1);
  background-color: #fff;
  padding-bottom: 10px;

  scroll-snap-stop: always;

  @media (max-width: 420px) {
    width: calc(100vw - 40px);
    height: auto;
  }

  > :first-child {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    max-width: 300px;
    margin: 0 auto 0;
  }
}
